---
tags:
- 'javascript'
- 'amd'
- 'module'
language: 'JavaScript'
abbreviation: amdnamed
---
define(
    '__module_id__',
[
    '__dependencies__'
], function (
    __dependParam__
) {
    __dependParam_.__methodToCall__();

    @cursor
} );
