---
tags:
- 'comment'
language: 'JavaScript'
abbreviation: commentheader
---
/******************************************************************************
 *****     __headerValue__    @cursor***********************************************
 ******************************************************************************/


