---
tags:
- 'comment'
language: 'JavaScript'
abbreviation: commentheader
---
/******************************************************************************
 *****     {{{v "headerValue"}}}    @cursor***********************************************
 ******************************************************************************/


