---
tags:
- 'comment'
language: 'JavaScript'
abbreviation: commentfunction
---
/**
 * @cursor
 *
 * @param  {__paramType__} __paramName__		__paramDesc__
 * @return {__returnType__}				__returnDescription__
 */
