---
tags:
- 'javascript'
- 'amd'
- 'module'
language: 'JavaScript'
---
define( [
    '{{{v "moduleid" }}}',
[
    '{{{v "dependencies" }}}'
], function (
    {{{v "dependParam" }}}
) {
    {{{v "dependParam" }}}.{{{v "methodToCall" }}}();

    {{{ cursor }}}
} );
