---
tags:
- 'comment'
language: 'JavaScript'
---
/**
 * @cursor
 *
 * @param  { {{{v "paramType"}}} } {{{v "paramName"}}}		{{{v "paramDesc"}}}
 * @return { {{{v "returnType"}}} }				{{{v "returnDescription"}}}
 */
