---
tags:
- 'javascript'
- 'amd'
- 'module'
language: 'JavaScript'
abbreviation: amdnamed
---
define(
    '{{{v "module_id" }}}',
[
    '{{{v "dependencies" }}}'
], function (
    {{{v "dependParam" }}}
) {
    {{{v "dependParam" }}}.{{{v "methodToCall" }}}();

    {{{ cursor }}}
} );
