---
tags:
- 'javascript'
- 'amd'
- 'module'
language: 'JavaScript'
abbreviation: amdanon
---
define( [
    '{{{v "dependencies" }}}'
], function (
    {{{v "dependParam" }}}
) {
    {{{v "dependParam" }}}.{{{v "methodToCall" }}}();
} );
